@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix")
		format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"),
		url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		"ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #828282;
	background: #fff;
}

#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}


a {
	color: #F14E95;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover, a:active, a:focus {
	color: #F14E95;
	outline: none;
	text-decoration: none;
}

p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: #000;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		"ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
	font-weight: 400;
	margin: 0 0 20px 0;
}


.fh5co-cover {
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/top.jpg);
}


@media screen and (max-width: 768px) {
	.fh5co-cover {
		height: 270px;
		background-image: url(../images/top.jpg);
	}
}


@media screen and (max-width: 768px) {
	.fh5co-cover.fh5co-cover-sm {
		height: 400px;
	}
}

.fh5co-cover.fh5co-cover-sm .display-t, .fh5co-cover.fh5co-cover-sm .display-tc
	{
	height: 600px;
	display: table;
	width: 100%;
}

@media screen and (max-width: 768px) {
	.fh5co-cover.fh5co-cover-sm .display-t, .fh5co-cover.fh5co-cover-sm .display-tc
		{
		height: 400px;
	}
}



.timeline-title {
	margin-top: 0;
}

.date {
	display: block;
	margin-bottom: 20px;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.timeline-body>p, .timeline-body>ul {
	margin-bottom: 0;
}

.timeline-body>p+p {
	margin-top: 5px;
}

@media ( max-width : 992px) {
	ul.timeline:before {
		left: 90px;
	}
	ul.timeline>li>.timeline-panel {
		width: calc(100% - 200px);
		width: -moz-calc(100% - 200px);
		width: -webkit-calc(100% - 200px);
	}
	ul.timeline>li>.timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
	}
	ul.timeline>li>.timeline-panel {
		float: right;
	}
	ul.timeline>li>.timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline>li>.timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}

#fh5co-gallery-list {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 100%;
}

#fh5co-gallery-list li {
	display: block;
	padding: 0;
	margin: 0 0 10px 1%;
	list-style: none;
	min-height: 400px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	clear: left;
	position: relative;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
}

@media screen and (max-width: 480px) {
	#fh5co-gallery-list li {
		margin-left: 0;
	}
}

#fh5co-gallery-list li a {
	min-height: 400px;
	padding: 2em;
	position: relative;
	width: 100%;
	display: block;
}

#fh5co-gallery-list li a:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	z-index: 80;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	border-radius: 7px;
	background: rgba(0, 0, 0, 0.2);
}

#fh5co-gallery-list li a:hover:before {
	background: rgba(0, 0, 0, 0.5);
}

#fh5co-gallery-list li a .case-studies-summary {
	width: auto;
	bottom: 2em;
	left: 2em;
	right: 2em;
	position: absolute;
	z-index: 100;
}

@media screen and (max-width: 768px) {
	#fh5co-gallery-list li a .case-studies-summary {
		bottom: 1em;
		left: 1em;
		right: 1em;
	}
}

#fh5co-gallery-list li a .case-studies-summary span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7);
}

#fh5co-gallery-list li a .case-studies-summary h2 {
	color: #fff;
	margin-bottom: 0;
}

@media screen and (max-width: 768px) {
	#fh5co-gallery-list li a .case-studies-summary h2 {
		font-size: 20px;
	}
}

#fh5co-gallery-list li.one-third {
	width: 32.3%;
}

@media screen and (max-width: 768px) {
	#fh5co-gallery-list li.one-third {
		width: 49%;
	}
}

@media screen and (max-width: 480px) {
	#fh5co-gallery-list li.one-third {
		width: 100%;
	}
}

#map {
	width: 100%;
	height: 500px;
	position: relative;
}

@media screen and (max-width: 768px) {
	#map {
		height: 200px;
	}
}

.fh5co-social-icons {
	margin: 0;
	padding: 0;
}

.fh5co-social-icons li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.fh5co-social-icons li a {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	color: #F14E95;
	padding-left: 10px;
	padding-right: 10px;
}

.fh5co-social-icons li a i {
	font-size: 20px;
}

.fh5co-contact-info ul {
	padding: 0;
	margin: 0;
}
.fh5co-contact-info ul li {
	padding: 0 0 0 50px;
	margin: 0 0 30px 0;
	list-style: none;
	position: relative;
}

.fh5co-contact-info ul li:before {
	color: #F14E95;
	position: absolute;
	left: 0;
	top: .05em;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fh5co-contact-info ul li.address:before {
	font-size: 30px;
	content: "\e9d1";
}

.fh5co-contact-info ul li.phone:before {
	font-size: 23px;
	content: "\e9f4";
}

.fh5co-contact-info ul li.email:before {
	font-size: 23px;
	content: "\e9da";
}

.fh5co-contact-info ul li.url:before {
	font-size: 23px;
	content: "\e9af";
}


form label {
	font-weight: normal !important;
}

#fh5co-counter {
	text-align: center;
}

#fh5co-counter .counter {
	font-size: 50px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 100;
	display: block;
}

#fh5co-counter .counter-label {
	margin-bottom: 0;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: .1em;
}

@media screen and (max-width: 768px) {
	#fh5co-counter .feature-center {
		margin-bottom: 50px;
	}
}

#fh5co-counter .icon {
	width: 70px;
	height: 70px;
	text-align: center;
	-webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75);
	margin-bottom: 30px;
}

#fh5co-counter .icon i {
	height: 70px;
}

#fh5co-counter .icon i:before {
	display: block;
	text-align: center;
	margin-left: 3px;
}

.simply-countdown {
	/* The countdown */
	margin-bottom: 2em;
}

.simply-countdown>.simply-section {
	/* coutndown blocks */
	display: inline-block;
	width: 100px;
	height: 100px;
	background: rgba(241, 78, 149, 0.8);
	margin: 0 4px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	position: relative;
	animation: pulse 1s ease infinite;
}


.simply-countdown>.simply-section>div {
	/* countdown block inner div */
	display: table-cell;
	vertical-align: middle;
	height: 100px;
	width: 100px;
}

.simply-countdown>.simply-section .simply-amount, .simply-countdown>.simply-section .simply-word
	{
	display: block;
	color: white;
	/* amounts and words */
}

.simply-countdown>.simply-section .simply-amount {
	font-size: 30px;
	/* amounts */
}

.simply-countdown>.simply-section .simply-word {
	color: rgba(255, 255, 255, 0.7);
	text-transform: uppercase;
	font-size: 12px;
	/* words */
}

#fh5co-testimonial, #fh5co-services, #fh5co-started, #fh5co-footer,
	#fh5co-event, #fh5co-couple-story, #fh5co-couple, #fh5co-gallery,
	.fh5co-section {
	padding: 7em 0;
	clear: both;
}

@media screen and (max-width: 768px) {
	#fh5co-testimonial, #fh5co-services, #fh5co-started, #fh5co-footer,
		#fh5co-event, #fh5co-couple-story, #fh5co-couple, #fh5co-gallery,
		.fh5co-section {
		padding: 3em 0;
	}
}

.fh5co-section-gray {
	background: rgba(0, 0, 0, 0.04);
}

.couple-wrap {
	width: 90%;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 768px) {
	.couple-wrap {
		width: 100%;
	}
}

.fh5co-heading {
	margin-bottom: 2em;
}

.fh5co-heading.fh5co-heading-sm {
	margin-bottom: 2em;
}

.fh5co-heading h2 {
	font-size: 60px;
	margin-bottom: 10px;
	line-height: 1.5;
	/*   font-weight: bold; */
	color: #F14E95;
	/*  font-family: "Sacramento", Arial, serif; */
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		"ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
	.fh5co-heading h2 {
		font-size: 24px;
	}
}

.fh5co-heading p {
	font-size: 18px;
	line-height: 1.5;
	color: #828282;
}

.fh5co-heading span {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.4);
}


@media screen and (max-width: 768px) {
	#fh5co-footer .copyright .pull-left, #fh5co-footer .copyright .pull-right
		{
		float: none !important;
		text-align: center;
	}
}

#fh5co-footer .copyright .block {
	display: block;
}


.offcanvas #fh5co-offcanvas {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
}

.uppercase {
	font-size: 14px;
	color: #000;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.gototop {
	position: fixed;
	bottom: 75px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.gototop.active {
	opacity: 1;
	visibility: visible;
}

.gototop a {
	width: 50px;
	height: 50px;
	display: table;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}

.gototop a i {
	height: 50px;
	display: table-cell;
	vertical-align: middle;
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
	text-decoration: none;
	outline: none;
}

.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
}

.form-control:active, .form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #F14E95;
}

.row-pb-md {
	padding-bottom: 4em !important;
}

.row-pb-sm {
	padding-bottom: 2em !important;
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
	opacity: 0;
}

/*# more button */
.blog {
	position: relative;
	/* 	width: 960px; */
	margin: 0 auto 100px auto;
}

@media screen and (min-width: 641px) {
	.blog .more {
		display: inline-block;
		/* background: #F6C; */
		border: 1px solid #F6C;
		color: #F6C;
		vertical-align: middle;
		font-size: 14px;
		font-weight: bold;
		padding: 2px 8px;
		position: absolute;
		padding: 2px 8px;
	}
}

@media screen and (max-width: 640px) {
	.blog .more {
		display: block;
		background: #fff;
		border: 2px solid #F6C;
		color: #F6C;
		vertical-align: middle;
		font-size: 14px;
		padding: 8px 8px;
		margin: 15px 40px 0 40px;
		text-align: center;
		border-radius: 6px;
		-webkit-border-radius: 6px;
	}
}

.blog  a {
	color: black;
	font-weight: normal;
}

.blog  dt {
	font-weight: normal;
	margin-bottom:10px;
}

.blog dl {
	border-bottom: 1px dotted #bbbbbb;
	margin-bottom:10px;
}


/*--------------------------------
スマホのフッターメニュー
---------------------------------*/
@media screen and (min-width: 768px) {
	ul.footer_menu {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	ul.footer_menu {
		margin: 0 auto;
		padding-top: 10px;
		width: 100%;
		overflow: hidden;
		display: table;
	}
	ul.footer_menu li {
		margin: 0;
		padding: 0;
		display: table-cell;
		vertical-align: middle;
		list-style-type: none;
		font-size: 10px;
	}
	ul.footer_menu li a i {
		font-size: 28px;
	}
	ul.footer_menu li a {
		border: none;
		display: block;
		color: #333;
		text-align: center;
		text-decoration: none;
		font-size: 14px;
	}
	.footer_menu {
		position: fixed;
		bottom: 0;
		left: 0;
		background: #FFE4E1;
		z-index: 9999999999;
		-moz-opacity: 0.9;
		opacity: 0.9;
	}
}

.image-witdh100 {
	width: 100%;
}


@media screen and (min-width: 768px) {
	.sp-display-none {
		display: none;
	}
}



.mb5{
	margin-bottom:5px;
}

.mb10{
	margin-bottom:10px;
}

.mb15{
	margin-bottom:15px;
}

.mb20{
	margin-bottom:20px;
}

.mb25{
	margin-bottom:25px;
}

.mb30{
	margin-bottom:30px;
}


.mt5{
	margin-top:5px;
}

.mt10{
	margin-top:10px;
}

.mt15{
	margin-top:15px;
}

.mt20{
	margin-top:20px;
}

.mt25{
	margin-top:25px;
}

.mt30{
	margin-top:30px;
}


h1.type1-1{
	background-color: #FFF; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF),
		to(#e6e6e6)); /*グラデーション*/
	background-image: -webkit-linear-gradient(#FFF, #FFC0CB); /*同上*/
	background-image: linear-gradient(#FFF, #FFC0CB); /*同上*/
	-webkit-box-shadow: 0px 2px 5px #FFC0CB; /*影の設定。それぞれ右へ、下へ、ぼかし幅、色の設定。*/
	box-shadow: 0px 2px 5px #544436; /*同上*/
	font-size: 150%;
	padding: 10px 10px 10px 20px; /*左から、上、右、下、左側への余白*/
	margin-top: 20px;
	clear: both;
	border-radius: 10px; /*角丸のサイズ*/
	color: #36271a;
	clear: both; /*文字色*/
}


/*MENUページで使っている濃い色のh1見出しタグのスタイル*/
h2.type2-1 {
	background-color: #41260e; /*背景色（古いブラウザだとここの色のみが出ます）*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#41260e),
		to(#36271a)); /*グラデーション*/
	background-image: -webkit-linear-gradient(#41260e, #36271a); /*同上*/
	background-image: linear-gradient(#41260e, #36271a); /*同上*/
	color: #FFF;
	border-radius: 10px; /*角丸のサイズ*/
	box-shadow: 0px 2px 5px #544436; /*同上*/
	font-size: 150%;
	padding: 10px 10px 10px 20px; /*左から、上、右、下、左側への余白*/
	margin-top: 20px;
	clear: both;
	border-radius: 10px; /*角丸のサイズ*/
	margin-bottom: 1em;
}

ul.shop-list li{
	
	margin:10px;
}

